.classpath
.project
.springBeans
*.iml
*.log
.gradle/
.idea/
.metadata/
.settings/
.uuid
work
go.js
go-debug.js
/resources
lib
classes/
build
node_modules
/bin/
bin-debug/
build/
generated/
nodejs/
/node_res
